---
import Aboutcomp from '../components/Aboutcomp.astro';
import Layout from '../layouts/Layout.astro';
---


<Layout title="About">
    <div class="p-4 sm:p-8">
        <Aboutcomp />
    </div>
</Layout>