---
import { getCollection } from 'astro:content';

const cursos = await getCollection('cursos'); // Nombre colección = "cursos"
console.log(cursos)
---

<div id="container">

	<main>
			<h1 class="text-center text font-sans-serif">
				♟️Curso de Ajedrez♟️
				<span class="block">Con Jesus</span>
			</h1>
			<section aria-label="Contenidos del curso">
				<div class="px-4 mx-auto max-w-screen-xl">
					<div class="grid gap-6 md:grid-cols-2">
						{
							cursos.map(curso => {
								const {slug, data} = curso
								const { title, author, img, description } =
								data
		
								return (
									<article class="flex">
										<img src={`/${img}`} alt="title" class="w-fullrounded-lg"/>
										<h3>{title}</h3>
									</article>
								)
							}
							)
						}
					</div>
				  </div>
			</section>
	</main>

</div>

